/LiteratureSearchService/target/
/NMOLiteratureWeb/nbproject/private/
/LiteratureServiceBoot/target/
/LiteratureCrosRefServiceBoot/target/
/LiteratureDownloadPDFService/target/
/LiteratureCrossRefServiceBoot/target/
/LiteratureMetadataServiceBoot/target/