
<div class="errors">
    {{error}}
</div>
<div class="evaluateArticles">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input type="text" ng-model="asyncSelected" placeholder="Search for..." uib-typeahead="article as article.pmid for article in findArticlesByText($viewValue)" typeahead-loading="loadingArticles" typeahead-no-results="noResults" typeahead-wait-ms="500" class="form-control">
    </div>
    <i ng-show="loadingArticles" class="glyphicon glyphicon-refresh"></i>
    <hr>
    <div class ="pagination">
        <uib-pagination ng-model="currentPage" ng-click="setPage()" total-items="articlePage.totalElements" max-size="10" items-per-page="articlePage.size" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true" first-text="&laquo;" last-text="&raquo;">
        </uib-pagination> 
    </div>
    <div class ="content-numbers">
        <p>Showing <strong>{{firstElement}} - {{lastElement}} of {{articlePage.totalElements}}</strong> results</p>
    </div>

    
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="tipo1">Usage</th>
                <th class="tipo1">Published Date</th>
                <th class="tipo1">PMID</th>
                <th class="tipo3">Title</th>
                <th class="tipo2">Metadata</th>
                <th class="note">Note</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articlePage.content| filter:search">
                <td>{{article.usage[0]}}</td>
                <td>{{article.publishedDate| date:'yyyy-MM-dd'}}</td>
                <td ng-if="article.pmid">{{article.pmid}}</td>
                <td ng-if="!article.pmid">-</td>
                <td title="{{article.title}}" data-toggle="tooltip"><a href='#/view/{{article.id}}/0'>{{article.title| limitTo : 30}} ... </td>
                <td class="metadata-finished" ng-if="article.metadata.finished"><span class="glyphicon glyphicon-check"></span></td>
                <td class="metadata-not-finished" ng-if="!article.metadata.finished"><span class="glyphicon glyphicon-edit"></span></td>
                <td>{{article.metadata.comment}}</td>
                
            </tr>
        </tbody>
    </table>

</div>