
    <div class="errors">
        {{error}}
    </div>
    <div class="portals">

            <!-- buttons -->
            <h2>Search Portals Configuration</h2>
            <p>You can setup each portal configuration by clicking on the Edit button: </p>
            <ul>
                <li>Update the start date for a search period. The search will span papers published between the start date search and today, e.g. fetch papers published from January 2018 until today.</li>
                <li>The portals <a href="https://dev.elsevier.com/user/registration"><b>ScienceDiect</b></a> and <a href="https://dev.springer.com/signup"><b>SpringerLink</b></a> require a registered user 
                with a valid token to use their APIs. You can browse to the registration page by clicking on their names and copy the obtained token in the corresponding field. Tokens have been initialized 
                in here with our own test tokens.</li>
                <li>Activate or deactivate a portal. Depending on your search needs each portal can be (de)activated through the check box. Scrapping data from portals without public APIs, namely Wiley and GoogleScholar,
                is done under your responsability. Please refer to your institution's privacy policy.</li>
                </ul>
            <div>
                <h3>Portals with API</h3>  


                <!-- table -->
                <table class="table table-bordered table-hover table-condensed">
                    <tr style="font-weight: bold">
                        <td style="width:15%">Name</td>
                        <td style="width:20%">Start Date Search Period</td>
                        <td style="width:25%">Token</td>
                        <td style="width:10%">Active</td>
                        <td style="width:10%">Edit</td>

                    </tr>
                    <tr ng-repeat="portal in portalList| filter:filterPortalList1" ng-class="{true: 'radio-inline-active', false: 'radio-inline-unactive'}[portal.active]">
                        <td>
                            <span>
                                {{ portal.name}}
                            </span>
                        </td>

                        <td>
                            <span editable-bsdate="portal.startSearchDate" e-is-open="opened.$data" e-ng-click="open($event,'$data', $index)" e-datepicker-popup="yyyy/MM/dd" e-form="tableportal">{{portal.startSearchDate| date:'yyyy-MM-dd'}}</span>
                        </td>

                        <td>
                            <span ng-if="portal.name === 'SpringerLink' || portal.name === 'ScienceDirect'" editable-text="portal.token" e-form="tableportal">
                                {{ portal.token || '' }}
                            </span>
                        </td>
                        <td class="radio-inline-active" ng-if="portal.active">
                            <span editable-checkbox="portal.active" e-form="tableportal">
                                <span class="glyphicon glyphicon-ok"></span>
                            </span>
                        </td>
                        <td class="radio-inline-unactive" ng-if="!portal.active">
                            <span editable-checkbox="portal.active" e-form="tableportal">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                        </td>
                        <td style="white-space: nowrap">
                             <!-- form -->
                             <form editable-form name="tableportal" onbeforesave="savePortal(portal, portal.id)" ng-show="tableportal.$visible" class="form-buttons form-inline">
                                 <button type="submit" ng-disabled="tableportal.$waiting" class="btn btn-primary">
                                     save
                                 </button>
                                 <button type="button" ng-disabled="tableportal.$waiting" ng-click="tableportal.$cancel()" class="btn btn-default">
                                     cancel
                                 </button>
                             </form>
                             <div class="buttons" ng-show="!tableportal.$visible">
                                 <button type="button" class="btn btn-primary" ng-click="tableportal.$show();editable=true">edit</button>
                             </div>  
                         </td>
                    </tr>
                </table>

            </div>
            <div>
                <h3>Portals without API</h3>  
                <!-- table -->
                <table class="table table-bordered table-hover table-condensed">
                    <tr style="font-weight: bold">
                        <td style="width:15%">Name</td>
                        <td style="width:20%">Start Date Search Period</td>
                        <td style="width:10%">Active</td>
                        <td style="width:10%">Edit</td>

                    </tr>
                    <tr ng-repeat="portal in portalList| filter:filterPortalList2" ng-class="{true: 'radio-inline-active', false: 'radio-inline-unactive'}[portal.active]">
                        <td>
                            <span>
                                {{ portal.name}}
                            </span>
                        </td>

                        <td>
                            <span editable-bsdate="portal.startSearchDate" e-is-open="opened.$data" e-ng-click="open($event,'$data', $index)" e-datepicker-popup="yyyy/MM/dd" e-form="tableportal">{{portal.startSearchDate| date:'yyyy-MM-dd'}}</span>
                        
                        </td>
                        <td class="radio-inline-active" ng-if="portal.active">
                            <span editable-checkbox="portal.active" e-form="tableportal">
                                <span class="glyphicon glyphicon-ok"></span>
                            </span>
                        </td>
                        <td class="radio-inline-unactive" ng-if="!portal.active">
                            <span editable-checkbox="portal.active" e-form="tableportal">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                        </td>
                        <td style="white-space: nowrap">
                             <!-- form -->
                             <form editable-form name="tableportal" onbeforesave="savePortal(portal, portal.id)" ng-show="tableportal.$visible" class="form-buttons form-inline">
                                 <button type="submit" ng-disabled="tableportal.$waiting" class="btn btn-primary">
                                     save
                                 </button>
                                 <button type="button" ng-disabled="tableportal.$waiting" ng-click="tableportal.$cancel()" class="btn btn-default">
                                     cancel
                                 </button>
                             </form>
                             <div class="buttons" ng-show="!tableportal.$visible">
                                 <button type="button" class="btn btn-primary" ng-click="tableportal.$show();editable=true">edit</button>
                             </div>  
                         </td>
                    </tr>
                </table>

            </div>
    </div>
    <hr>
    <div class="keywords">

        <form editable-form name="tablekeyword" onaftersave="saveKeyWordList()" oncancel="cancelKeyWordList()">
            <!-- buttons -->
            <h2>Keywords Configuration</h2>
            <p>Add the keywords for the query(s). The search is <u>case insensitive</u>, valid connectors are the logic operands uppercase AND and OR, use parenthesis for adding priority. 
               Exact matching is configured by adding quotation marks " ". For example: (morphology OR "neuromorpho.org") AND "neuronal reconstruction". </p>

            <!-- table -->
            <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                    <td>Keyword</td>
                    <td style="width:20%"><span ng-show="tablekeyword.$visible">Action</span></td>

                </tr>
                <tr ng-repeat="keyword in keyWordList| filter:filterKeyWord">

                    <td>
                        <span editable-text="keyword.name" e-form="tablekeyword">
                            {{ keyword.name}}
                        </span>
                    </td>

                    <td>
                        <button type="button" ng-show="tablekeyword.$visible" ng-click="deleteKeyWord(keyword.i)" class="btn btn-danger pull-right">Del</button>
                    </td>

                </tr>
            </table>


            <div class="btn-edit">
                <button type="button" class="btn btn-default" ng-show="!tablekeyword.$visible" ng-click="tablekeyword.$show()">
                    edit
                </button>
            </div>
            <div class="btn-form" ng-show="tablekeyword.$visible">
                <button type="button" ng-disabled="tablekeyword.$waiting" ng-click="addkeyWord()" class="btn btn-default pull-right">add row</button>
                <button type="submit" ng-disabled="tablekeyword.$waiting" class="btn btn-primary">save</button>
                <button type="button" ng-disabled="tablekeyword.$waiting" ng-click="tablekeyword.$cancel()" class="btn btn-default">cancel</button>
            </div> 
        </form>
    </div>
        <hr>

    <div class="launch">
    <h2>Run the Search</h2>
    <p>Before running the search, please remember to add keywords and read carefully the Portals Configuration to make sure everything is correctly set, then click on Start Search. </p>
    <button ng-if="executing" type="button" class="btn btn-light btn-lg btn-block" ng-disabled="true">Executing Search ... </button>

    <div>
        <button ng-if="!executing" type="button" class="btn btn-success btn-lg btn-block" ng-click="startSearch()" ng-disabled="false">Start Search</button>
        <button ng-if="executing" type="button" class="btn btn-danger btn-lg btn-block" ng-click="stopSearch()" ng-disabled="false">Stop Search</button>

        <hr>
    </div>
        <h4>Recent searches ordered by running date &nbsp;
        <button ng-click="getLogList()" ng-disabled="false"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
</h4>
    <table class="table table-striped">
        
  <thead>
    <tr>
      <th scope="col">Start</th>
      <th scope="col">Stop</th>
      <th scope="col">Output</th>

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="log in portalLogList">
      <td>{{log.start| date:'yyyy-MM-dd h:mm:ss'}}</td>
      <td ng-if="log.stop == null">Executing</td>
      <td ng-if="log.stop != null">{{log.stop| date:'yyyy-MM-dd h:mm:ss'}}</td>
      <td>{{log.cause}}</td>

    </tr>
    
  </tbody>
</table>
    </div>
        
   <div>
    <h2>Erase Database</h2>
     <p><u>Warning:</u> This functionality will wipe out all the article-related content stored in the system, including evaluated and not evaluated records.</p>
     <div>
        <button ng-if="!cleaning" type="button" class="btn btn-danger btn-lg btn-block" ng-click="removeArticleDB()" ng-disabled="false">Clean Article Database</button>
        <button ng-if="cleaning" type="button" class="btn btn-light btn-lg btn-block" ng-disabled="true">Cleaning DB ... </button>

    </div>
         </div>
        
